@import "variables";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
<<<<<<< HEAD
    background: $background-color;
    font-family: $font-face;
}
.pre-load {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-top: -33px;
    align-items: center;
    align-content: center;
    background: $background-color;
    opacity: 1;
    z-index: 9999;
    position: absolute;
    animation: Fade 1s ease 7s;
    
    svg {
        max-width: 60%;
        max-height: 60%;
        margin: auto;
        align-self: center;

        path {
            stroke: #fff;
            stroke-width: 2;
            stroke-dasharray: 1970;
            stroke-dashoffset: 1970;
            fill: url(#lgrad);
            fill-opacity: 0;
            animation: DrawLine 6.5s ease 0s 1, FadeStroke .5s ease 6.5s, FillIn 1s ease 5s 1 normal forwards;
        }
    }
}
.loaded {
    visibility: hidden;
    display: none;
}

@import "header";

.content {
    width: 60%;
    height: 60%;
    position: relative;
    margin: 0 auto;
    opacity: 0;
    animation: FadeInMove 1s ease 8s normal forwards;
=======
    background: $primary-color;
}
svg {
    max-width: 95%;
    max-height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    path {
        stroke: #fff;
        stroke-width: 2;
        stroke-dasharray: 1970;
        stroke-dashoffset: 1970;
        fill: url(#lgrad);
        fill-opacity: 0;
        animation: DrawLine 8s ease-in-out 0s 1, FadeStroke 1s ease 7s, FillIn 1s ease 7s 1 normal forwards;
    }
}

@keyframes DrawLine {
  to { stroke-dashoffset: 0; }
>>>>>>> parent of a72f7c3... load screen
}

@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}