@import "variables";
@import "font-rules";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: $background-color;
    font-family: $font-face;
}
.pre-load {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    align-content: center;
    background: $background-color;
    opacity: 1;
    z-index: 9999;
    position: absolute;
    animation: Fade 1s ease 7s;
    
    svg {
        max-width: 60%;
        max-height: 60%;
        margin: auto;
        align-self: center;

        path {
            stroke: #fff;
            stroke-width: 2;
            stroke-dasharray: 1970;
            stroke-dashoffset: 1970;
            fill: url(#lgrad);
            fill-opacity: 0;
            animation: DrawLine 6.5s ease 0s 1, FadeStroke .5s ease 5.5s, FillIn 1s ease 5s 1 normal forwards;
        }
    }
}
.loaded {
    visibility: hidden;
    display: none;
}

@import "header";

.content {
    width: 60%;
    height: 60%;
    position: relative;
    margin: 0 auto;
    opacity: 0;
    animation: FadeInMove 1s ease 8s normal forwards;
}
h1 {
    color: coral;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

@import "keyframes";