@keyframes DrawLine {
  to { stroke-dashoffset: 0; }
}
@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}
@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
@keyframes Fade {
    to { opacity: 0; }
}
@keyframes FadeInMove {
    from { opacity: 1; top: 100px; }
    to { opacity: 1; top: 0px; }
}